.section {
			margin-top: 30px;
			margin-bottom: 30px;
		}
						
		.list {
			/* border: 1px solid #000; */
			list-style: none outside none;
			margin: 10px;
			padding: 10px;
		}
						
		.item {
		    padding: 1px 1px;
		    margin: 5px 0;
		    border: 1px solid #444;
			background-color: #f6f6f6;
		    font-size: 1.3em;
		    font-weight: normal;
		    text-align: left;
		    cursor: move;
		    font-family: 'Lora', serif;
		}
						
		.container{
		    margin-top:60px;
		}
		
		.image-preview-input {
		    position: relative;
			overflow: hidden;
			margin: 0px;    
		    color: #333;
		    background-color: #fff;
		    border-color: #ccc;    
		}
		.image-preview-input input[type=file] {
			position: absolute;
			top: 0;
			right: 0;
			margin: 0;
			padding: 0;
			font-size: 20px;
			cursor: pointer;
			opacity: 0;
			filter: alpha(opacity=0);
		}
		.merger-text{
		    font-size: 1.4em;
		    font-weight: normal;
		    font-family: 'Lora', serif;
		} 
		/* DO NOT DELETE: This class is used as a selector */
		.fileName{
		
		}
		pre.steps{
		background-color: #dff0d8;
		padding: 5px;
		}
		.truncate {
        position: relative;
        top: 5px;
        width: 630px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        }
		